@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./SpaceMono-Regular.woff2') format('woff2'),
        url('./SpaceMono-Regular.woff') format('woff'),
        url('./SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('SpaceMono-Bold.woff2') format('woff2'),
        url('./SpaceMono-Bold.woff') format('woff'),
        url('./SpaceMono-Bold.ttf') format('truetype');
}